:root {
  --canvas: hsl(240, 3%, 7%);
  --canvas-text: white;
  --tile-border: hsl(240, 2%, 23%);
  --tile-border-active: hsl(240, 2%, 34%);
  --unused: hsl(200, 1%, 45%);
  --wrong: hsl(240, 2%, 15%);
  --wrong-location: hsl(49, 51%, 34%);
  --correct: hsl(115, 29%, 39%);
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: var(--canvas);
  display: flex;
  flex-direction: column;
  height: 100svh;
  margin: 0;
  padding: .25rem;
  font-size: clamp(.5rem, 4.5vmin, 1.5rem);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--unused);
  color: var(--canvas-text);
  fill: var(--canvas-text);
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

.key.large {
  font-size: clamp(.5rem, 4.5vmin, .9rem);
  grid-column: span 3;
}

.key > * {
  pointer-events: none;
  z-index: 1;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover > * {
  color: var(--canvas);
  fill: var(--canvas);
}

.key:hover::after {
  content: '';
  background-color: var(--canvas-text);
  border-radius: 4px;
  position: absolute;
  inset: 4px;
  z-index: 0;
}

.key:focus-visible {
  outline: 2px solid var(--canvas-text);
  outline-offset: 1px;
}

.key.wrong {
  background-color: var(--wrong);
}

.key.wrong-location {
  background-color: var(--wrong-location);
  border: 2px dashed;
}

.key.correct {
  background-color: var(--correct);
  border: 2px solid;
}

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, min(120px, 16vw));
  grid-template-rows: repeat(6, min(120px, 16vw));
  gap: .25em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  color: var(--canvas-text);;
  border: .05em solid var(--tile-border);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile[data-state="active"] {
  border-color: var(--tile-border-active);
  border-width: 3px;
}

.tile[data-state="wrong"] {
  border: none;
  background-color: var(--wrong);
}

.tile[data-state="wrong-location"] {
  border: 2px dashed;
  background-color: var(--wrong-location);
}

.tile[data-state="correct"] {
  border: 2px solid;
  background-color: var(--correct);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-7.5%);
  }

  70% {
    transform: translateX(7.5%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  

  40% {
    transform: translateY(5%);
  }  

  60% {
    transform: translateY(-25%);
  }  

  80% {
    transform: translateY(2.5%);
  }  

  90% {
    transform: translateY(-5%);
  }  

  100% {
    transform: translateY(0);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

/* visually-hidden */
.vh:not(:focus):not(:active) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}