:root {
  --canvas: hsl(240, 3%, 7%);
  --canvas-text: white;
  --tile-border: hsl(240, 2%, 23%);
  --tile-border-active: hsl(240, 2%, 34%);
  --unused: hsl(200, 1%, 45%);
  --wrong: hsl(240, 2%, 15%);
  --wrong-location: hsl(49, 51%, 34%);
  --correct: hsl(115, 29%, 39%);
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: var(--canvas);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100svh;
  margin: 0;
  padding-inline: .25rem;
  font-size: clamp(.5rem, 4.5vmin, 1.5rem);
}

h1 {
  font-size: clamp(1rem, 4.5vmin, 2rem);;
  line-height: 1;
  text-align: center;
}

header .settings button > * {
  font-size: 1rem;
  padding: .25rem;
}

button {
  background-color: var(--unused);
  color: var(--canvas-text);
  fill: var(--canvas-text);
  border: 1px solid;
  font-size: inherit;
  border-radius: .25em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

button > * {
  pointer-events: none;
  z-index: 1;
}

button:hover > * {
  color: var(--canvas);
  fill: var(--canvas);
}

button:hover::after {
  content: '';
  background-color: var(--canvas-text);
  border-radius: 4px;
  position: absolute;
  inset: 4px;
  z-index: 0;
}

:focus-visible {
  outline: 2px solid var(--canvas-text);
  outline-offset: 1px;
}

input {
  background-color: inherit;
  border: 1px solid;
  color: inherit;
  font-size: inherit;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap:.5rem;
  justify-content: space-between;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: 1px solid transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.key.large {
  font-size: clamp(.5rem, 4.5vmin, .9rem);
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key.wrong {
  background-color: var(--wrong);
}

.key.wrong-location {
  background-color: var(--wrong-location);
  border: 2px dashed;
}

.key.correct {
  background-color: var(--correct);
  border: 2px solid;
}

.guess-grid {
  --tile-max: 100px;
  --tile-min: 16vw;
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, min(var(--tile-max), var(--tile-min)));
  grid-template-rows: repeat(6, min(var(--tile-max), var(--tile-min)));
  gap: .25em;
}

.tile {
  font-size: 2em;
  color: var(--canvas-text);;
  border: .05em dotted var(--tile-border);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 250ms linear;
  position: relative;
}


.tile[data-state] .state {
  all: initial;
  position: absolute;
  inset: 0;
  opacity: .0001;
}


.tile[data-state="active"] {
  border-color: var(--tile-border-active);
  border-width: 3px;
}

.tile[data-state="wrong"] {
  border: none;
  background-color: var(--wrong);
}

.tile[data-state="wrong-location"] {
  border: 2px dashed;
  background-color: var(--wrong-location);
}

.tile[data-state="correct"] {
  border: 2px solid;
  background-color: var(--correct);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-7.5%);
  }

  70% {
    transform: translateX(7.5%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  

  40% {
    transform: translateY(5%);
  }  

  60% {
    transform: translateY(-25%);
  }  

  80% {
    transform: translateY(2.5%);
  }  

  90% {
    transform: translateY(-5%);
  }  

  100% {
    transform: translateY(0);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  color: var(--canvas);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
  border: 2px solid;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

/* visually-hidden */
.vh:not(:focus):not(:active) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-visibility {
  visibility: hidden;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / .5);
}

.dialog-flex {
  display: flex;
}

.dialog-flex form[method="dialog"] {
  order: 1;
}

#newgame {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#newgame > * {
  width: fit-content;
}

#newgame input {
  --spacing: .25ch;
  --invalid-bg: darkRed;
  letter-spacing: var(--spacing);
  margin-inline-end: 1rem;
  padding-inline: var(--spacing);
  text-transform: uppercase;
  width: calc(10ch + var(--spacing));
}

#newgame input:user-invalid,
#newgame input[aria-invalid="true"] {
  background-color: var(--invalid-bg);
  font-style: italic;
}

#newgame:blank {
  background-color: green !important;
}

@supports not selector(:user-invalid) {
  input:invalid {
    background-color: var(--invalid-bg);
    font-style: italic;
  }
}